In [1]:
# Import pandas package
import pandas as pd
import numpy as np
	
# Define a dictionary containing data
data = {'City':['Bangalore', 'Mumbai', 'Chennai', 'DelHI','Hyderabad','Ananthapur','WARANGAL']}
	
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
	
# Observe the result
df

         City
0   Bangalore
1      Mumbai
2     Chennai
3       DelHI
4   Hyderabad
5  Ananthapur
6    WARANGAL

In [2]:
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim

In [3]:
longitude = []
latitude = []

In [4]:
def findGeocode(city):
    try:
        geolocator = Nominatim(user_agent="your_app_name")
        return geolocator.geocode(city)
    except GeocoderTimedOut:
        return findGeocode(city)

In [5]:
for i in (df["City"]):
    if findGeocode(i) != None:
        loc = findGeocode(i)
        latitude.append(loc.latitude)
        longitude.append(loc.longitude)
    else:
        latitude.append(np.nan)
        longitude.append(np.nan)

In [6]:
latitude

[12.9791198,
 19.0759899,
 13.0836939,
 28.6517178,
 17.360589,
 19.5048853,
 17.9806094]

In [7]:
df["Longitude"] = longitude
df["Latitude"] = latitude
  
df

         City  Longitude   Latitude
0   Bangalore  77.591300  12.979120
1      Mumbai  72.877393  19.075990
2     Chennai  80.270186  13.083694
3       DelHI  77.221939  28.651718
4   Hyderabad  78.474061  17.360589
5  Ananthapur  78.430935  19.504885
6    WARANGAL  79.598212  17.980609